Repository AMT-TEAM07/PictureLabelizer, pull requests merged in 2022-11, with the labels that each got.

#12 Initial tests for dataObject
  src/main/java/org/amt/team07/helpers/dataObjects/AwsDataObjectHelperImpl.java
  src/test/java/TestAwsDataObjectHelperImpl.java
Labels: data-object

#13 Create AWS client with correct credentials
  .env.example
  .gitignore
  pom.xml
  src/main/java/org/amt/team07/clients/AwsCloudClient.java
  src/main/java/org/amt/team07/helpers/dataObjects/AwsDataObjectHelperImpl.java
  src/main/java/org/amt/team07/helpers/labelDetectors/AwsLabelDetectorHelperImpl.java
  src/test/java/TestAwsCloudClient.java
Labels: data-object, label-detector

#11 Readme documentation
  README.md
Labels: documentation
